@{
  Layout = "_Layout";
}

@model Animal_Shelter.Models.Animal

<h4>Add a new task</h4>
@using (Html.BeginForm())
{
  @Html.LabelFor(model => model.Description)
  @Html.TextBoxFor(model => model.Description)
  <input type="submit" value="Add new task" />
}
<p>@Html.ActionResult("Show all animals", "Index")</p>