<h1>Add a new item to @Model.Name</h1>

<form action="/species/@Model.Id/items" method="post">
  <input id="speciesId" name="speciesId" type="hidden" value="@Model.Id">
  <label for="animalDescription">Add a new Animal</label>
  <input id="animalDescription" name="animalDescription" type="text">
  <button type="submit">Submit</button>
</form>